
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

<style>
.bd-example {
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

</style>

    <title>Desafios Shipay</title>
</head>


<body style="background-image: linear-gradient(to bottom right, #7902bb, #0064ff);">
<div class="bd-example" style="background-color: white;">
  <div style="text-align: center"><h1>Desafio técnico da Atados</h1>
  <h2>Desenvolvedor Back-End</h2></div>
  <div class="list-group">
    <a href="/api/v1/voluntario" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>CREATE</b></h5>
        <h5 class="mb-1"><b>Endpoint: /api/v1/cadvol (POST)</b></h5>
      </div>
      <p class="mb-1">Cadastrar voluntários.</p>
    </a>
    <a href="/api/v1/acoes" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>CREATE</b></h5>
        <h5 class="mb-1"><b>Endpoint: /api/v1/cadacoes</b></h5>
      </div>
      <p class="mb-1">Cadastrar ações.</p>
    </a>
    <a href="/api/v1/vervol" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>READ</b></h5>
        <h5 class="mb-1"><b>Endpoint: /api/v1/getvol</b></h5>
      </div>
      <p class="mb-1">Visualizar voluntários.</p>
    </a>
  </a>
  <a href="/api/v1/veracoes" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><b>READ</b></h5>
      <h5 class="mb-1"><b>Endpoint: /api/v1/getacoes</b></h5>
    </div>
    <p class="mb-1">Visualizar ações.</p>
  </a>

    <a href="/sobremim" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>Sobre mim</b></h5>
      </div>
      <p class="mb-1">Conheçam um pouco do meu trabalho.</p>
    </a>
  </div>





</div>


    </body>



        <!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>