
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

<style>
.bd-example {
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

</style>

    <title>Sobre mim</title>
</head>


<body style="background-image: linear-gradient(to bottom right, #7902bb, #0064ff);">
<div class="bd-example" style="background-color: white;">
    <h4 class="mb-1" style="text-align: center"><b>Sobre mim</b></h5>
      <h3 class="mb-1" style="text-align: center"><b>Felipe Abreu</b></h3>
      <img src="{{url_for('static', filename='0.jpg')}}" class="center" />
      <br>
      <div>Bacharel em Ciência da Computação pela Universidade Federal da Bahia, me considero um homem fascinado por tecnologia, além de um profissional altamente empenhado em tentar executar um bom trabalho. 
        Como trabalhos anteriores relevantes, eu já desenvolvi o Backend uma plataforma educacional Web, e atualmente sou desenvolvedor Fullstack (Frontend e Backend) de um Marketplace, inclusive tive um contato anterior com APIs de pagamento graças a este projeto.
        Procuro sempre ficar atento a novas ferramentas e tecnologias e melhorar as minhas habilidades, e trazer o máximo de satisfação possível a clientes e colegas de trabalho. Atualmente trabalho em uma Startup (CLARA IDEA) e em uma outra empresa de transações financeiras, a WEX. Porém, estou aberto a outros grandes desafios. Tenho disponibilidade em trabalhar e viajar por todo Brasil.</div>
      <br>
      <h3 class="mb-1" style="text-align: center"><b><a href="https://www.linkedin.com/in/felipe-abreu-1848bb19b/" ><b>Perfil no Linkedin</b><img src="{{url_for('static', filename='linkedin.svg')}}" style="width:5%"/></a></b></h3>
      <br>
      <h4 class="mb-1" style="text-align: center"><b>WhatsApp: +55 71 98749-4417</b></h5>
        <h4 class="mb-1" style="text-align: center"><b>E-mail: felipe.abreu@live.com</b></h5>
      <br>
      <h4 class="mb-1" style="text-align: center"><b>Meu currículo: </b></h5>
        <br>
        <object data="{{ url_for('static', filename='cv-en.pdf')}}" type="application/pdf" style="min-height:100vh;width:100%"></object>
      <div class="form-group">
    </div>

</div>



    </body>



        <!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>