
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

<style>
.bd-example {
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

</style>

    <title>Listar Ações</title>
</head>


<body style="background-image: linear-gradient(to bottom right, #7902bb, #0064ff);">
<div class="bd-example" style="background-color: white;">
    <h4 class="mb-1" style="text-align: center"><b>Visualizar dados da ação</b></h5>
<form method='POST'>
  <div class="form-group">
    <label for="inputDescricao">Nome da Ação</label>
    <input type="text" class="form-control" name="nome" placeholder="Nome" />
  </div>
    <button type="submit" class="btn btn-success">Enviar dados</button>
  </form> 

  <h5 class="mb-1" style="text-align: center"><b>Lista de Ações disponíveis:</b></h5>
  <div class="list-group">
      {% for elemento in elementos %}
    <a href="/api/v1/getacoes?nome={{elemento['nome']}}" class="list-group-item list-group-item-action">{{elemento["nome"]}}</a>
    {% endfor %}
  </div>
</div>



    </body>



        <!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>